/****** Config Files *******/
@import 'reset'

use_reset('meyer')
reset('all')
/***************************/

/****** Components *********/
@import 'utils/functions.styl'
@import 'utils/vars.styl'
/***************************/

*, *::after, *::before
	box-sizing border-box
	font-family "Verdana", sans-serif
	transition all 0.2s ease

html
	height 100%

body
	width 100%
	height 100%
	font-family "Verdana", sans-serif
	overflow-x hidden
	color $txt

.content
	width $content
	margin 0 auto
	+below($content)
		width 95%

.big-button
	background-color $light
	padding 10px 20px
	set-font-size(18px)
	border-radius 8px
	cursor pointer
	text-align center
	&:hover
		box-shadow inset 0px 0px 10px $secondary
	+below($tablet)
		set-font-size(14px)

@import 'components/session-control.styl'
@import 'components/loading.styl'
@import 'pages/home.styl'
@import 'components/notes.styl'
@import 'components/note-filter.styl'
