.home
  position relative
  & h2
    set-font-size(24px)
    color $error
    padding-top 30px
    text-align center
  header
    text-align center
    padding 45px 0
    +below($tablet)
      padding 18px 0
  button
    appearance none
    border 0
    background-color none
    background-color transparent
    color $primary
    outline none
    &:focus
      outline none

