.loading
  position fixed
  left 0
  right 0
  bottom 0
  top 0
  z-index 100
  & .bg-loading
    background-color rgba(0, 0, 0, 0.6)
    z-index 2
    width 100%
    height 100%
  & .loading-spin
    center()
    position absolute
    z-index 5

