.note-filter
  &>div
    display flex
    justify-content center
    align-items center
    padding-bottom 20px
    flex-wrap wrap
  h2
    set-font-size(22px)
    font-weight bold
    padding-bottom 12px
  .input-group
    display flex
    justify-content left
    align-content center
    padding 0 20px
    flex-wrap wrap
    label
      margin-right 6px
    input[type=radio]
      padding-left 12px
    +below($tablet)
      padding-bottom 10px
      justify-content center
      &:last-child
        paddin-bottom 0px

