.note-container
  display flex
  flex-wrap wrap
  justify-content center
  padding 0 25px
  +below($tablet)
    padding 0 10px


.note
  padding 20px
  border 1px solid $primary
  margin 10px 10px 40px
  border-radius 6px
  position relative
  &.active
    border 1px solid red
  & textarea
    border 1px solid $light
    color $txt
    min-height 250px
    width 100%
    margin-bottom 8px
  & .input-group
    margin 10px 0
    & label
      set-font-size(14px)
  & .note-buttons
    background-color #fff
  & .error-msg
    color $error
    position absolute
    centerW()
    top 100%
    margin-top 10px
    set-font-size(13px)
    width 100%
    text-align center
