.session-creator
  padding 20px 30px
  background-color $secondary
  width 100%
  display flex
  position relative
  justify-content space-between
  align-items center
  flex-wrap wrap
  & .create-alter-session
    display flex
    justify-content space-between
    align-items center
    flex-wrap wrap
    position relative
    +below($tablet)
      justify-content center
    & .session-buttons
      display flex
      justify-content space-between
      align-items center
      +below($tablet)
        margin 10px 0
        &>div
          margin 0 6px
    &>div, & .session-buttons>div
      padding-right 20px
      &:last-child
        padding-right 0
      +below($tablet)
        padding-bottom 10px
        padding-right 0px
    & .form
      & input
        padding 6px 8px
        border-radius 4px
        border 0px
  & .error-msg
    position absolute
    color $error
    z-index 10
    top 100%
    margin-top 6px
    set-font-size(12px)
    +below($tablet)
      position relative
  +below($tablet)
    padding 10px
    justify-content center
    &>div
      padding-bottom 20px



